@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&family=Tulpen+One&display=swap");

* {
  font-family: "Bricolage Grotesque";
  color: black;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

h2 {
  font-family: "Tulpen One";
}

img {
  width: 6rem;
  object-fit: contain;
}

body {
  width: 100%;
}

hr {
  height: 5px;
  border-radius: 5px;
  width:100%;
  text-align: center;
}
